p,h1,h2{
    text-align: center;
    color: darkgreen;
}
#individualheader{
    text-align: end;
    color: brown;
}
.common{
    text-align: left;
    color: chocolate;
}
h3{
    background-color: black;
    color: aliceblue;
}
body{
    background-color: grey;
    background-image: url("paper.gif");
}
